@mixin textGradient {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

$theme-primary: linear-gradient(54deg, #f1f8f9 17%, #ecf6fe 46%, #f4faff 80%);

$header-height: 60px;
$footer-height: 30px;
$color-theme-primary: #e9ecef;

$color-text-primary: rgb(24, 23, 23);
$color-text-secondary: #ffffff;
$color-text-tertiary: #ff7a1a;
$color-text-grey: #4f595e;
$color-text-grey2: #8d8f91;

$color-active-primary: #4cfa02;
$color-background-primary: #ffffff;
$color-background-secondary: #10aa98;

$color-background-blur: rgba(218, 39, 39, 0.9);
$color-background-tertiary: #ff7a1a;

$color-button-primary: linear-gradient(to right, #ee0979, #ff6a00);
$color-button-secondary: linear-gradient(135deg, #05f, #09f);
$color-button-tertiary: linear-gradient(to right, #ee0979, #ff6a00);
$color-button-quaternary: linear-gradient(to right, #1b79e4, #05ff5d);
$color-button-penitentiary: linear-gradient(to right, #fd3597, #e92e9b);
$color-button-hexatiary: linear-gradient(to right, #eae326, #f4d005);
$color-button-heptan: linear-gradient(to right, #1abe7d, #0fbcc8);
$color-button-green: linear-gradient(to right, #63ab77, #8cbf57);
$color-button-octane: linear-gradient(54deg, #ef9502, rgb(232, 178, 70) 41%, rgba(235, 198, 125, 0.995) 80%);
$color-button-purple: linear-gradient(to right, #c166d1, #a364cc);
$theme-lineheight-primary: 1.5;
$color-error-primary: rgb(199, 32, 32);
$color-modal-primary: #545e6587;

$font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$color-border: #b2b2b25b;
$color-border-secondary: rgb(226, 226, 226);

$box-shadow-primary: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$box-shadow-secondary: 0px 1px 2px rgba(128, 138, 157, 0.12), 0px 8px 32px rgba(128, 138, 157, 0.24);

$box-shadow-panel: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$border-primary: 1px solid rgba(26, 54, 126, 0.125);

$color-customcv-header-primary: #2c2c2c;
$color-customcv-header-active: #009cff;
$color-customcv-border-primary: #e5e6e6;
$color-customcv-border-secondary: #00a1bf;

$color-customcv-active-primary: #39a1db;
$color-customcv-hover-primary: #97c9e4;
$color-customcv-hover-secondary: #09273f;

$color-customcv-title-primary: #363c3e;
$color-customcv-title-secondary: #85919a;
$color-customcv-text-primary: #7f7f7f;

$footer-height: 400px;

$border-radius-primary: 10px;
$color-background-comment-primary: #edf2f6;

$color-follow-primary: #0094f6;

$color-social-orange: #fff4f2;
$color-social-green: #eaf9e5;
$color-calendar-primary: #f0f7e1;
$color-active-secondary: var($color-customcv-active-primary);
$color-hover-primary: #edf2f6;
$color-input-primary: rgba(255, 244, 249, 0.489);
$color-disable-primary: #cee6f39c;

$font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

$anim: 0.75s;
$sizeEase: ease-out;
$fontSize: 19px;
$borderRadius: 15px;
$marginHeight: 2px;

.info {
    background: $color-button-secondary;
    .icon {
        .iconRound {
            i {
                background: $color-button-secondary;
            }
        }
    }
    .text {
        color: $color-text-secondary;
    }
}
.success {
    background: $color-button-heptan;
    .icon {
        .iconRound {
            i {
                background: $color-button-heptan;
            }
        }
    }
    .text {
        color: $color-text-secondary;
    }
}
.warning {
    background: $color-button-octane;
    .icon {
        .iconRound {
            i {
                background: $color-button-octane;
            }
        }
    }
    .text {
        color: $color-text-secondary;
    }
}

.error {
    background: $color-button-tertiary;
    .text {
        color: $color-text-secondary;
    }
    .icon {
        .iconRound {
            i {
                background: $color-button-tertiary;
            }
        }
    }
}

.notifications {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: $header-height;
    right: 0px;
}

.pauseOnHover {
    &:hover {
        .progressBar {
            span {
                animation-play-state: paused !important;
            }
        }
    }
}
.container {
    color: $color-text-grey;
    min-width: 200px;
    animation: open $anim * 0.75 ease-in-out forwards;
    display: block;
    height: 60px;
    font-family: $font-family-primary;
    margin: 0px 0px $marginHeight 0px;
    white-space: nowrap;
    .notificationsItem {
        height: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: flex-start;
        overflow: hidden;
        flex-shrink: 0;
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        color: $color-text-primary;

        .notificationContent {
            padding: 7px 7px;
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            gap: 20px;
            color: $color-text-grey;
            .icon {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                flex-shrink: 0;
                width: 45px;
                aspect-ratio: 1/1;
                border-radius: 40%;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                .iconRound {
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .text {
                color: $color-text-secondary;
                font-size: $fontSize;
                line-height: 1;
                flex: 1;
                font-weight: 500;
                text-align: left;
                display: inline-block;
                white-space: nowrap;
            }
            .buttonClose {
                margin: 0px 5px 0px 0px;
                color: $color-text-primary;
                font-size: 20px;
                background: inherit;
            }
        }
        .progressBar {
            flex-shrink: 0;
            box-sizing: content-box;
            height: 5px;
            position: absolute;
            visibility: hidden;
            // max-height: 6px;
            // aspect-ratio: 25/1;
            width: 100%;
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
            span {
                border-bottom-left-radius: $borderRadius;
                display: block;
                height: 100%;
                width: 0px;

                animation: move linear;
                animation-play-state: running;
                animation-iteration-count: 1;
                opacity: 1;

                overflow: hidden;
            }
        }
    }
}

.displayNone {
    // transform: translate(100%, 0%);
    animation: hideX $anim * 0.75 ease-in-out forwards, hideY $anim * 0.5 ease-in-out $anim * 0.75 forwards;
}
@keyframes hideX {
    from {
        transform: inherit;
    }
    to {
        transform: translate(100%, 0%);
    }
}
@keyframes hideY {
    from {
        height: 60px;
        margin: inherit;
    }
    to {
        height: 0px;
        margin: 0px 0px 0px 0px;
    }
}

@keyframes open {
    from {
        transform: translate(100%, 0%);
    }
    to {
        transform: translate(0%, 0%);
    }
}
@keyframes move {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
